<div class="container-fluid">
    <h2 class="page-header">Dashboard</h2>
    <div *ngIf="user">
      <div class="badge badge-dark">
        <div>
          <img class="img-thumbnail" src="{{user.img}}">
        </div>
        <h4> <strong> {{user.username}} </strong></h4>
        <h4> <strong> {{user.email}} </strong></h4>
        <h4> <strong> {{user.score}} </strong></h4>
      </div>
    </div> <br>
    <div class="card">
      <div class="card-body">
          <h4 class="card-title text-center"> <strong>These are the three best players</strong> </h4>
          <div class="row text-center">
            <div class="col-md-4 badge badge-dark">
              <h1> <span > {{topUsers[0].name}} </span> </h1>
              <img class="img-thumbnail" src="{{topUsers[0].img}}">
              <h1>
                <span>{{topUsers[0].score}}</span>
              </h1>
            </div>
            <div  class="col-md-4 badge badge-dark">
              <h1> <span > {{topUsers[1].name}} </span> </h1>
              <img class="img-thumbnail" src="{{topUsers[1].img}}" >
              <h1>
                <span>{{topUsers[1].score}}</span>
              </h1>  </div>
            <div   class="col-md-4 badge badge-dark">
              <h1> <span> {{topUsers[2].name}} </span> </h1>
              <img class="img-thumbnail" src="{{topUsers[2].img}}" >
              <h1>
                <span>{{topUsers[2].score}}</span>
              </h1>  </div>
          </div>

      </div>
    </div>

</div>
