<div class="container">
  <div class="row">
    <div class="col-md-2">
          <div *ngIf="user">
            <h2 class="page-header">{{user.name}}</h2>
            <ul class="list-group">
              <li class="list-group-item"> {{user.username}}</li>
              <li class="list-group-item"> {{user.email}}</li>
            </ul>
          </div>
    </div>
  </div>

  <div class="consent">
    <h2> Table Des Consentements </h2>
  </div>
  <h4>Voici l'ensemble des consentements que vous avez donné !</h4>
  <div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" >Consents </th>
                <th scope="col">Activated/Desactivated</th>
                <!--<th scope="col" >Desactivated</th>-->
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- *ngFor="let item of collection"  -->
                <td class="col-lg-8">
                  <div>
                      <label> Mes consentements </label>
                  </div>
               </td>
                <td class="col-lg-4" >
                        <!--<label for="agreeind"> <input #agree type="checkbox" name="agreeInd"  [(ngModel)] ="agree.selected" > Activated</label>-->
                      <div class="form-check" >
                        <!-- [(ngModel)] ="agree.selected" -->
                          <input #agree type="checkbox" name="agreeInd" class="form-check-input" >
                          <label class="form-check-label" for="agreeind"> Activated/Desactivated </label>
                      </div>
                </td>
                <!--<td  class="col-lg-2">
                      <label for="agreeind1"> <input #agree1 type="checkbox" name="agreeInd1"  [(ngModel)] ="agree1.selected" > Desactivated</label>
                      <div class="form-check">
                          <input #agree type="checkbox" name="agreeInd" class="form-check-input" [(ngModel)] ="agree.selected1">
                          <label class="form-check-label" for="agreeind"> Desactivated </label>
                      </div>
                </td> -->
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
