<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-2" class="consent" >
            <div *ngIf="user">
              <div class="row clearfix well">
                <div class="col-md-4 column">
                    <img class="rounded" alt="Cinque Terre" width="100" height="96" src="https://file1.telestar.fr/var/telestar/storage/images/media/images/2016/photos/20160819-will-smith-plus/will-smith/1424762-5-fre-FR/Will-Smith_width1024.jpg" />
                </div>
              </div>
              <!-- <h2 class="page-header">{{user.name}}</h2> -->
              <ul class="list-group">
                <li class="list-group-item"> <strong> {{user.username}} </strong></li>
                <li class="list-group-item"> <strong> {{user.email}} </strong></li>
              </ul>
            </div>
      </div>
    </div> <br><br>

    <div class="style">
      <p class="text-center"> <strong>Table des Consentements !</strong> </p>

      <p> <strong> Consentements donnés ! </strong> </p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"> <strong> Consents </strong>  </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="row justify-content-around" *ngFor="let consent of consents ">

                  <div class="col-3"> <strong>{{consent.ConsentId}}</strong></div>
                  <div class="col-4"> <strong> {{consent.ProcPurpDescription}}</strong> </div>
                  <div class="col-2"> <strong>{{ consent.CreateDate | date :'dd/MM/yyyy'}}</strong> </div>
                  <div class="custom-control custom-switch col-3">
                      <input (click)="switchConsent(consent)"
                            type="checkbox" class="custom-control-input" name="{{'AgreeInd-' + consent.ConsentId}}" id="{{'AgreeInd-' + consent.ConsentId}}" checked *ngIf="consent.AgreeInd === '1' ? true : false">
                      <input (click)="switchConsent(consent)"
                            type="checkbox" class="custom-control-input" name="{{'AgreeInd-' + consent.ConsentId}}" id="{{'AgreeInd-' + consent.ConsentId}}" *ngIf="consent.AgreeInd === '0' ? true : false">
                      <label class="custom-control-label" for="{{'AgreeInd-' + consent.ConsentId}}">On/Off {{consent.AgreeInd}} </label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
