<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">Welcome to out custom MEAN authentication application built from scratch</p>
  <div>
    <a class="btn btn-primary mx-1" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary mx-1" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
      <h4 class="card-title text-center"> <strong>These are the three best players</strong> </h4>
      <div class="row text-center">
          <div class="col-md-4">
            <h1> <span class="badge badge-light"> {{topUsers[0].name}} </span> </h1>
            <img class="img-thumbnail" src="{{topUsers[0].img}}">
            <h1>
              <span class="badge badge-dark">{{topUsers[0].score}}</span>
            </h1>
          </div>
          <div  class="col-md-4">
            <h1> <span class="badge badge-light"> {{topUsers[1].name}} </span> </h1>
            <img class="img-thumbnail" src="{{topUsers[1].img}}" >
            <h1>
              <span class="badge badge-dark">{{topUsers[1].score}}</span>
            </h1>  </div>
          <div   class="col-md-4">
            <h1> <span class="badge badge-light"> {{topUsers[2].name}} </span> </h1>
            <img class="img-thumbnail" src="{{topUsers[2].img}}" >
            <h1>
              <span class="badge badge-dark">{{topUsers[2].score}}</span>
            </h1>  </div>
        </div>
  </div>

</div>

